<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="../static/main.js"></script>
  <title>Document</title>
</head>

<body>
  <h1>upload testing</h1>
  <div>
    <input type="radio" name="sketch" id="pencil-sketch" checked>
    <label for="pencil-sketch">Pencil Sketch</label>
    <input type="radio" name="sketch" id="color-sketch">
    <label for="color-sketch">Color Sketch</label>
  </div>
  <div>
    <input id="fileupload" type="file" name="fileupload" />
    <button id="upload-button" onclick="uploadFile()"> Upload </button>
  </div>
  <h1>main image testing</h1>
  <img id="main"></img>
</body>

</html>